{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-sm-12">  
  <div class="d-flex flex-wrap p-2">
  
    <div class="card mx-2 d-flex flex-row"> <!-- Added d-flex flex-row to make image and card-body side by side -->
        
      {% if car.image %}
        <img class="card-img-left" src="{{ car.image.url }}" alt="Card image cap" style="width:50%;"> <!-- Adjust width as needed -->
      {% else %}
        <img class="card-img-left" src="{% static 'images/placeholder.jpg' %}" alt="No image available" style="width:50%;"> <!-- Adjust width as needed -->
      {% endif %}
        
      <div class="card-body p-2 flex-grow-1"> <!-- Added flex-grow-1 to make the card-body fill the remaining space -->
        <h5 class="card-title">
          <p class="text-decoration-none text-dark">Name: {{ car.car_name }}</p>
        </h5>
        <h5 class="card-text">Total Cars: {{ car.quantity }}</h5><br>
        <h5 class="card-text">Price: {{ car.price }}</h5><br>
        <h5 class="card-text">About Car: </h5>
         <p> {{ car.description }}</p><br>
        <h5>Brand:
         
            <button class="btn btn-primary m-2" disabled>{{ car.brand.name }}</button><br>
         
        </h5><br>
        
        {% if request.user.is_authenticated %}
          <div class="d-flex justify-content-center">
            {% if car.quantity > 0 %}
              <a class="btn btn-danger text-dark m-5" href="{% url 'buy_car' car.id %}">BUY NOW</a>
            {% else %}
              <p class="btn btn-danger text-dark m-5">Out of stock</p>
            {% endif %}
          </div>
        {% endif %}
        
      </div>
      
    </div>
    
  </div>
</div>

<div class="card m-2">
  <h5 class="p-3">Total Comments: {{ comments | length }}</h5>
  {% for comment in comments %}
    <div class="card-body border m-2">
      <p><b>{{ comment.name }}</b> {{ comment.created_on }}</p>
      <p>{{ comment.body }}</p>
    </div>
  {% endfor %}
</div>

<div class="card m-2">
  <div class="card-body">
    <form method="post">
      <h1>Add Comment</h1>
      {% csrf_token %}
      {{ comment_form | crispy }}
      <button class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
